// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image-photo {
    background-image: url("/assets/empty.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    height: 200px;
    left: 40%;
    position: relative;
    width: 50%;
}
.upload-file-button{
    left: 13%;
    position: relative;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	height: 16px;
}
.offer-main-cell{
    width: 90%;
    text-align: center;
    display: block;
    background-color: #ececec;
    margin-left: 20%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.offer-top-cell{

}

.offer-middle-cell{
    background-color: #0066CC;
}
.offer-middle-cell a, .offer-middle-cell a:visited {
    color: #fff;
}
.offer-bottom-cell{

}
.image-container-cell{

}
.image-container-cell img{
    max-width: none;
    height: 200px;
    width: 250px;
}
.show-offers-table{
    width: 90%;
    float: center;
}
.left-info{
    float: left;
    width: 50%;
}
.right-info{
    float: right;
    width: 50%;
}
.offer-top{
    width: 98%;
    display: inline-block;
    margin-top: 2%;
}
.offer-middle{
    width: 98%;
    text-align: left;
    padding-left: 2%;
    background-color: #D8D8D8;
}
.offer-left-cell{
    float: left;
    width: 40%;
    display: block;
}
.offer-right-cell{
    float: left;
    width: 56%;
    display: block;
}
.offer-create-opinion-cell{
    display: inline-block;
    width: 90%;
    text-align: left;
}
.offer-create-opinion-cell textarea {
    width: 98%;
    float: left;
}
.rating-line{
    display: inline-block;
    width: 98%;
    float: left;
    margin-left: 33%
}
.rating-line p{
    position: relative;
    margin-right: 2px;
    float: left;
    margin-top: 10px;
}
.rating-line input{
    position: relative;
    margin-left: 15px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;

}
.general-info h1{
    font-size: 30px;
    line-height: 34px;
}
.general-info p{
    margin-bottom: 4px;
    text-align: left;
}
#comments{
    width: 98%;
}
.opinion-cell{
    border-bottom: 4px double #555;   
}
.opinion-cell p:nth-child(4n+3){
    background-color: #E8E8E8;
}
.opinion-cell h3{
    font-size: 22px;
    color: blue;
    margin: 0 0 7px 0;
    line-height: 26px;
}
.first-line-opinion-cell{
    display: inline-block;
    width: 100%;
    background-color: #E8E8E8;
/*    border-bottom: 1px solid #555;   
*/
}
.first-line-opinion-cell p{
    margin-bottom: 2px;
}