<%= stylesheet_link_tag    "css-general/venues.css.scss" %>

<div class='second-main-container'>
	<h1>New venue</h1>

	<%= render 'form' %>

	
</div>
<div class='back-button'>
	<%= link_to 'Back', venues_path %>
</div>